{% extends 'base.html.twig' %}

{% block title %}New Leader{% endblock %}

{% block body %}
    <h1>Create new Leader</h1>

    {{ include('leader/_form.html.twig') }}

    <a href="{{ path('leader_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
